# Secrets
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database
# Database file included for deployment
# *.db

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Frontend (if applicable later)
node_modules/
dist/
.next/
